@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
    display: flex;
}
.text {
    font-family: Roboto;
    font-weight: 400;
}
.card {
    width: 300px;
    margin-right: 30px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}
.card__info {
    margin: 30px 25px;
}
.card__title {
    font-size: 20px;
    color: #333;
    font-weight: 700;
}
.card__description {
    font-size: 15px;
    color: #666;
}
.card__img {
    width: 300px;
    height: 205px;
}
.card__buy {
    display: flex;
    justify-content: space-between;
}
.card__price_num {
    font-size: 35px;
    font-weight: 700;
    margin-right: 5px;
}
.card__currency {
    font-size: 20px;
}
.card__add-to-cart {
    height: 40px;
    width: 50px;
    background-color: #4ED17B;
    border-radius: 5px;
    border: none;
    padding: 0;
}
.icon-cart {
    height: 20px;
    width: 20px;
    padding: 10px 15px 10px 15px;
}

